ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4CAF50;
  position: fixed;
  width: 100%;
  top: 0
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #008CBA;
}

.active {
  background-color: #008CBA;
}
p {
  margin: 0px 10px;
}

.column {
  margin-left: 0%;
  padding: 0px 16px;
  height: 1000px;
  column-count: 1;
}

h1.big {
  line-height:20;
}

section {
  font:  20px verdana;
  float: left;
}

header {
  border: 25px #a6a6a6

}

body {
  background-repeat: no-repeat;
}

img {
  object-fit: contain;
}
